{{define "group"}}
<section class="group">
  <h2>{{.Name}}</h2>
  <ul>
    {{range .Links}}
      {{template "link" .}}
    {{end}}
    {{range .Tiles}}
      {{template "tile" .}}
    {{end}}
  </ul>
</section>
{{end}}
