{{define "header"}}
<header>
  <div class="container">
    <h1>
      <img src="/static/logo.svg" alt="" width="24" height="24" style="vertical-align:middle;margin-right:.4em;image-rendering:pixelated" />
      {{.Title}}
    </h1>
  </div>
</header>
{{end}}
